
*{
    box-sizing: border-box;
    padding: 0;
    margin: auto;
}
html {
	font-size: 10px;
	font-family: 'Montserrat', sans-serif;
	scroll-behavior: smooth;
}

body{
    background-color: #eddcd2;
}

p{
    color: black;
    font-size: 15px;
    font-family:Arial, Helvetica, sans-serif;
    margin-top: 5px;
    line-height: normal;
}
img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}
.container {
	min-height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
#first{
    display: inline-block;
    padding: 15px 20px;
    color:#fffbff;
    border: 4px solid #d3ab9d;
    font-size: 9px;
    margin-top: 30px;
}
#first:hover{
    color: #daeaf6;
    background: color #bde0fe; 
}
/* header section */
.header {
 padding: 20px;
 font-family: Arial, Helvetica, sans-serif;
 background-color: #EAC9C1;
 color: #d3ab9d;
 cursor: grab;
 display: block;
}

.header #name h1{
    font-size: 5rem;
    color: #fff1e6;
    display: inline-block;
}

.header #name h1 span{
    color: #fffbff;
    font-size: 5rem;
    
}

.header nav{
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    float: right;
    margin-right: 20px;
    color: #fefeff;
    
}

.header nav ul{
    list-style: none;
    
}

.header nav ul li{
    display:inline-block;
    margin-left: 30px;
    font-size: 3rem;
    padding-top: 5px;
}
/* end header */

/* home */
.home {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url(./img/portfolio.jpeg) ;
    background-size: cover;
    background-position: center;
}
/* end home */
/* about me */
#aboutme {
	text-align: center;
	max-width: 1000px;
	margin: 0 auto;
	padding: 100px 20px;
}
#aboutme #content{
    width: 75%;
    display: inline-block;
    margin-left: 20px;
    font-size: 35px;
    font-family: fantasy;

}

#aboutme #aboutme-img{
    height: 100%;
	width: 100%;
	position: left;
	border: 10px solid salmon;

}
/* end about me */
/* projects */
#projects .projects {
	flex-direction: column;
	max-width: 1200px;
	margin: 0 auto;
	padding: 100px 0;
}

#projects .all-projects {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
#projects .project-item {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 80%;
	margin: 20px auto;
	overflow: hidden;
	border-radius: 10px;
}
#projects .project-info {
	padding: 30px;
	flex-basis: 50%;
	height: 100%;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	background-image: linear-gradient(60deg, #ffc7dd 0%, #eeddd3 100%);
	color: white;
}
#projects .project-info h1 {
	font-size: 2rem;
	font-weight: 500;
}
#projects .project-info h2 {
	font-size: 1rem;
	font-weight: 500;
	margin-top: 10px;
}
#projects .project-info p {
	color: white;
}
#projects .project-img {
	flex-basis: 60%;
	height: 300px;
	overflow: hidden;
	position: relative;
}
#projects .project-img:after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-image: linear-gradient(80deg, #29323c 0%, #485563 100%);
	opacity: .7;
}
#projects .project-img img {
	transition: .3s ease transform;
}
#projects .project-item:hover .project-img img {
	transform: scale(3.2);
}
/* end project */
/* contact */
#contact {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
    flex-direction: column;
  }
  #footer {
	background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
}
#footer .footer {
	min-height: 200px;
	flex-direction: column;
	padding-top: 50px;
	padding-bottom: 10px;
}
#footer h2 {
	color: white;
	font-weight: 500;
	font-size: 1.8rem;
	letter-spacing: .1rem;
	margin-top: 10px;
	margin-bottom: 10px;
}
#footer .social-icon {
	display: flex;
	margin-bottom: 30px;
}
#footer .social-item {
	height: 50px;
	width: 50px;
	margin: 0 5px;
}
#footer .social-item img {
	filter: grayscale(1);
	transition: .3s ease filter;
}
#footer .social-item:hover img {
	filter: grayscale(0);
}
#footer p {
	color: white;
	font-size: 1.3rem;
}
/* mediaquery */
@media screen  and (max-width: 992px){
.html {width: 50%;}
    
}
@media screen and (max-width:768px){
    .html{width: 100%;}
    
}